.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.table th {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}